<ion-header>
  <ion-toolbar>    
    <ion-title>
      {{ global.name }} - Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class='ion-padding' class='loginPage' scroll='false'>
  <ion-grid style='height: 100%'>
    <ion-row class="ion-align-items-center ion-justify-content-center" style='height: 80%'>
      <ion-grid class='login-container'>
        <form #loginForm='ngForm' (ngSubmit)='login()' autocomplete='off' class='login-form'>
          <ion-row class='ion-align-items-center ion-justify-content-center'>
            <ion-col class="ion-align-items-center">
              <img src='assets/img/logo/logo.png' width='35%' height='35%'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list inset>
                <ion-item>
                  <ion-label>Username: <br /></ion-label>
                  <ion-input placeholder='username' name='username' id='loginField' type='text' required
                    [(ngModel)]="username">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Password: <br></ion-label>
                  <ion-input password placeholder='Password' name='password' id='passwordField' type='password' required
                    [(ngModel)]='password'>
                  </ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-items-center">
              <ion-button color='secondary' ion-button id='singin' full fulltype='submit' (click)='login()'
                [disabled]='!loginForm.form.valid'>
                <ion-icon name='sync'></ion-icon>
                Log-in
              </ion-button>

              <ion-button color='secondary' ion-button id='register' full fulltype='submit' (click)='register()'>
                <ion-icon name='add'></ion-icon>
                Add Account
              </ion-button>

              <ion-button color='warning' ion-button id='recover' full fulltype='submit' (click)='recover()'>
                <ion-icon name='key'></ion-icon>
                Forgot password
              </ion-button>

            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
{{global.name}} Version: {{global.version}}